<h3>Post Form</h3>
<!--Right now, no database link or persistence-->
<form>
  <label>Post title:</label><br />
  <input type="text" id="post_title" name="post[title]" /><br />

  <label>Post Description: </label>
  <textarea id="post_description" name="post[description]"></textarea><br />

  <input type="submit" value="Submit Post" />
  
</form>